

 .h1judul{
	text-align:left;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 84px;
	
	
	
	color: #3F3D56;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.pjudul{
	text-align: left;
	float:center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	
	
	color: #000000;
}



.kotak_login{
	margin-top:120px;
	background: #FFFFFF;
	border:1px solid #6C63FF;
	box-sizing: bordr-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 488px;
	height:488px;
	
}
.form_login{
	background: #FFFFFF;
	border:1px solid #6C63FF;
	box-sizing: bordr-box;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 408px;
	height:88px;
	margin: 45px 40px;
	padding:5px;
	font-family:Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height:32px;
	display:flex;
	color:#A3A3A5;
}
 .tombol_login{
	background: #6C63FF;
	border:1px solid #6C63FF;
	box-sizing: bordr-box;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 408px;
	height:72px;
	margin-left:40px;
	
	font-family:Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height:47px;
	display:flex;
	align-items: center;
	text-align : center;
	color:#FFFFFF;
}

 .kotak_login .tombol_login:hover{
	text-shadow: 0px 5px 5px rgba(900,900,900,0.6);
}

 .kotak_login p{
	font-family:Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height:47px;
	display:flex;
	align-items: center;
	text-align : center;
	color:red;
	
}

.header{
	
	position: absolute;
	width: 1440px;
	height: 88px;
	left: 0px;
	top: 0px;
	background : #3F3D56;
	}

.header #logo{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 35px;
	top: 20px;

}

.header #scriptm{
position: absolute;
width: 111px;
height: 30px;
left: 89px;
top: 29px;

font-family: Revalia;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}




#navbar_font{
	text-decoration:none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	z-index:1;
	
	color: #FFFFFF;
	float: none;
	display: block;
  padding: 0.5rem 3rem;
	
}		

.navbar a:hover{
	text-shadow: 0px 5px 5px rgba(900,900,900,0.6);
}	

#dropdown {
	position: relative;
	display: inline-block;
  }
  
   .dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
   .dropdown-content a:hover {
	  background-color: #ddd;
  }
  
   .dropdown:hover .dropdown-content {
	  display: block;
  }
  
   .dropdown:hover .dropbtn {
	  background-color: #3e8e41;
  }

  .kategori{
	
	margin-top: -15%;
	border:0px;
	background:#3F3D56;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;	
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	
}

#profile_picture{
	position: absolute;
	width: 65px;
	height: 65px;
	left: 95%;
	top: 20%;
}

.overlay{
	position:absolute;
	bottom:3px;
	background:rgb(0,0,0);
	background:rgba(1000,1000,1000,0.9);
	color:#6C63FF;
	width:65px;
	transition: .5s ease;
	opacity: 0;
	color:#3F3D56;
	font-size: 20px;
	padding:5px;
	text-align:center;
}

.overlay{
	position:absolut;
	bottom:3px;
	background:rgb(0,0,0);
	background:rgba(1000,1000,1000,0.9);
	color:#6C63FF;
	width:65px;
	transition: .5s ease;
	opacity: 0;
	color:#3F3D56;
	font-size: 20px;
	padding:5px;
	text-align:center;
}	

#kotak_info_img1{
	position: absolute;
	width: 324px;
	height: 225px;
	left: 53px;
	top: 100px;
}

#kotak_info_h1{
	position: absolute;
	width: 798px;
	height: 44px;
	left: 22%;
	top: 0%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #6C63FF;
}

.kotak_info{
	position: absolute;
	width: 1200px;
	height: 360px;
	left: 120px;
	top: 121px;

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
}

#kotak_info_p{
	position: absolute;
	width: 610px;
	height: 165px;
	left: 40%;
	top: 35%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;

	color: #000000;
}

.kotak_info .modal{
	z-index: 2;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.kotak_info .modal_inner{
	-webkit-transform: translate(-50%, -50%) scale(0.75);
    transform: translate(-50%, -50%) scale(0.75);
	top: 50%;
	left: 50%;
	width: 50%;
	background: white;
	padding: 30px;
	position: absolute;
	color: black;
}

.btn-close{
    color: #fff;
    text-align: center;
}
 
.kotak_info label {
  display: inline-block;
  cursor: pointer;
}
.kotak_info label.open {
  color: turquoise;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  text-decoration: underline;
}
.kotak_info label.open:hover {
  color: paleturquoise;
}

.kotak_info input {
	display: none;
  }
  .kotak_info input:checked + .modal {
	opacity: 1;
	visibility: visible;
  }
  .kotak_info input:checked + .modal .modal__inner {
	-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
  }
  .kotak_info input:checked + .modal .modal__inner p {
	font-size: 1.25rem;
	line-height: 125%;
  }
  .kotak_info input:checked + .modal label {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background: #666666;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
  }
  .kotak_info input:checked + .modal label:hover {
	background: #333333;
  }
.navbar-nav1 {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin-left:20%;
	margin-top:0.35%;
	z-index:1;
  }

  /*Beranda*/
  .kotak_info{
	position: absolute;
	left: -1%;
	
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
  }

  .kotak_info h1{
	position: absolute;
	width: 80%;
	height: 15%;
	left: 17%;
	
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #6C63FF;
  }

  .kotak_info #line{
	position: absolute;
	width: 90%;
	margin-left: 3%;
	margin-top: 5%;
	
	
	border: 1px solid #6C63FF;
  }

  .kotak_info #img{
	position: absolute;
	left: 5%;
	top: 25%;
	
  }

  .kotak_info p{
	position: absolute;
	left: 35%;
	top: 25%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	
	
	text-align: center;
	
	color: #000000;
	
  }

  .kotak_berkas_keluar{
	position: absolute;
	width: 288px;
	height: 400px;
	left: -1%;
	top: 533px;
	
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
	
  }

  .kotak_berkas_keluar h1{
	position: absolute;
	width: 248px;
	height: 44.76px;
	left: 5%;
	top: 60%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #000000;
	
  }

  .kotak_berkas_keluar #kotak{
	position: absolute;
	width: 240px;
	height: 168px;
	left: 7%;
	top: 10%;
	
	border: 1px solid rgba(108, 99, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px
  }

  .kotak_berkas_keluar #img{
	position: absolute;
	left: 20%;
	
  }

  .kotak_berkas_keluar h2{
	position: absolute;
	width: 95px;
	height: 78px;
	top: 70%;
	left: 30%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	
	color: #000000;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .kotak_berkas_keluar #border{
	position: absolute;
	width: 270px;
	height: 66px;
	top: 84%;
	
  }

  .kotak_berkas_masuk{
	position: absolute;
	width: 288px;
	height: 400px;
	left: 26%;
	top: 533px;
	
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
	
  }

  .kotak_berkas_masuk h1{
	position: absolute;
	width: 248px;
	height: 44.76px;
	left: 5%;
	top: 60%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #000000;
	
  }

  .kotak_berkas_masuk #kotak{
	position: absolute;
	width: 240px;
	height: 168px;
	left: 7%;
	top: 10%;
	
	border: 1px solid rgba(108, 99, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px
  }

  .kotak_berkas_masuk #img{
	position: absolute;
	left: 20%;
	
  }

  .kotak_berkas_masuk h2{
	position: absolute;
	width: 95px;
	height: 78px;
	top: 70%;
	left: 30%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	
	color: #000000;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .kotak_berkas_masuk #border{
	position: absolute;
	width: 270px;
	height: 66px;
	top: 84%;
	
  }

  .kotak_progress_berkas{
	position: absolute;
	width: 288px;
	height: 400px;
	left: 53%;
	top: 533px;
	
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
	
  }

  .kotak_progress_berkas h1{
	position: absolute;
	width: 248px;
	height: 44.76px;
	left: 5%;
	top: 60%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #000000;
	
  }

  .kotak_progress_berkas #kotak{
	position: absolute;
	width: 240px;
	height: 168px;
	left: 7%;
	top: 10%;
	
	border: 1px solid rgba(108, 99, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px
  }

  .kotak_progress_berkas #img{
	position: absolute;
	left: 8%;
	
  }

  .kotak_progress_berkas h2{
	position: absolute;
	width: 95px;
	height: 78px;
	top: 70%;
	left: 30%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	
	color: #000000;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .kotak_progress_berkas #border{
	position: absolute;
	width: 270px;
	height: 66px;
	top: 84%;
	
  }
  
  .kotak_berkas_selesai{
	position: absolute;
	width: 288px;
	height: 400px;
	left: 75%;
	top: 533px;
	
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
	
  }

  .kotak_berkas_selesai h1{
	position: absolute;
	width: 248px;
	height: 44.76px;
	left: 5%;
	top: 60%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #000000;
	
  }

  .kotak_berkas_selesai #kotak{
	position: absolute;
	width: 240px;
	height: 168px;
	left: 7%;
	top: 10%;
	
	border: 1px solid rgba(108, 99, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px
  }

  .kotak_berkas_selesai #img{
	position: absolute;
	left: 8%;
	
  }

  .kotak_berkas_selesai h2{
	position: absolute;
	width: 95px;
	height: 78px;
	top: 70%;
	left: 30%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	
	color: #000000;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .kotak_berkas_selesai #border{
	position: absolute;
	width: 270px;
	height: 66px;
	top: 84%;
	
  }

  .cari_teks{
	position: absolute;
	width: 1200px;
	height: 56px;
	left: -2%;
	
  }

  .cari_button{
	position: relative;
	left: 100%;
	margin-top: 1%;
	
}

.kotak_kontak{
	position: absolute;
	width: 288px;
	height: 812px;
	left:-60%;
	

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}

 
.kotak_kontak  #line{
	
	width: 90%;
	margin-left: 4%;
	margin-top: 27%;
	z-index: 2;
	
	
	border: 1px solid #6C63FF;
  }

.kotak_kontak h1{
	position: absolute;
	width: 132px;
	height: 44px;
	top: 5%;
	left: 35%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #6C63FF;
}

.kotak_kontak_1{
	position: absolute;
	width: 264px;
	height: 88px;
	margin-top:110%;
	margin-left: -65%;
	list-style-type: none;
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}


.kotak_kontak_1 h1{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 85px;
	top: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_1 #line{
	position: absolute;
	width: 232px;
	height: 0px;
	margin-left: 5%;
	margin-top: 16%;

	border: 1px solid #6C63FF;
}

.kotak_kontak_1 h2{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 65px;
	top: 50%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_2{
	position: absolute;
	width: 264px;
	height: 88px;
	margin-top:210%;
	margin-left: -65%;
	list-style-type: none;
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}


.kotak_kontak_2 h1{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 85px;
	top: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_2 #line{
	position: absolute;
	width: 232px;
	height: 0px;
	margin-left: 5%;
	margin-top: 16%;

	border: 1px solid #6C63FF;
}

.kotak_kontak_2 h2{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 65px;
	top: 50%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_3{
	position: absolute;
	width: 264px;
	height: 88px;
	margin-top:310%;
	margin-left: -65%;
	list-style-type: none;
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}


.kotak_kontak_3 h1{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 85px;
	top: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_3 #line{
	position: absolute;
	width: 232px;
	height: 0px;
	margin-left: 5%;
	margin-top: 16%;

	border: 1px solid #6C63FF;
}

.kotak_kontak_3 h2{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 65px;
	top: 50%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_4{
	position: absolute;
	width: 264px;
	height: 88px;
	margin-top:410%;
	margin-left: -65%;
	list-style-type: none;
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}


.kotak_kontak_4 h1{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 85px;
	top: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_4 #line{
	position: absolute;
	width: 232px;
	height: 0px;
	margin-left: 5%;
	margin-top: 16%;

	border: 1px solid #6C63FF;
}

.kotak_kontak_4 h2{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 65px;
	top: 50%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_5{
	position: absolute;
	width: 264px;
	height: 88px;
	margin-top:510%;
	margin-left: -65%;
	list-style-type: none;
	
	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.1);
	border-radius: 5px;
}


.kotak_kontak_5 h1{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 85px;
	top: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_5 #line{
	position: absolute;
	width: 232px;
	height: 0px;
	margin-left: 5%;
	margin-top: 16%;

	border: 1px solid #6C63FF;
}

.kotak_kontak_5 h2{
	position: absolute;
	width: 132px;
	height: 32px;
	left: 65px;
	top: 50%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_info{
	position: absolute;
	width: 896px;
	height: 396px;
	left:15%;

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
}

.kotak_kontak_info h1{
	position: absolute;
	width: 798px;
	height: 44px;
	left: 200px;
	top: 30px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #6C63FF;
}

 .kotak_kontak_info #line{
	position: absolute;
	width: 550px;
	height: 0px;
	margin-left: 19%;
	margin-top: 10%;

	border: 2px solid #6C63FF;
}

.kotak_kontak_info h2{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 250px;
	top: 70px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

 .kotak_kontak_info h3{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 350px;
	top: 85px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

 .kotak_kontak_info h4{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 220px;
	top: 100px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

 .kotak_kontak_info h5{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 280px;
	top: 115px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}
 .kotak_kontak_info h6{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 285px;
	top: 130px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotak_kontak_info h7{
	position: absolute;
	width: 481px;
	height: 176px;
	left: 315px;
	top: 190px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}


 .kotak_kontak_info #img1{
	position: absolute;
	width: 270px;
	height: 66px;
	left: 0px;
	top: 330px;
}

 .kotak_kontak_info #img2{
	position: absolute;
	width: 270px;
	height: 66px;
	right:0px;
	top: 330px;
}

.sidebar{
	
	position:absolute;
	width: 343px;
	height: 936px;
	margin-left: -20px;
	margin-top: 19px;
	

	background: #6C63FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 10px 10px 0px;
}

.sidebar #profile_picture{
	
	left: 5.97%;
	right: 82.22%;
	top: 13.87%;
	bottom: 69.53%;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sidebar li{
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 1.5rem 0rem;

	color: #FFFFFF;
	
}



.sidebar a:hover{
	
	text-shadow: 0px 5px 5px rgba(900,900,900,0.6);
	}	

	.sidebar a:link{
		text-decoration: none;
	}

.sidebar  .sidebar_menu{
	

	width: 315px;
	height: 40px;
	background: #3F3D56;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	
}



.sidebar .sidebar_exit{
	width: 89px;
	height: 35px;
	margin-left: 10%;
	margin-top: 90%;

	background: #3F3D56;
	border-radius: 5px;
	
}	

.sidebar .sidebar_exit h1{
	
	width: 118px;
	height: 28px;
	left: 10px;
	margin-top: 10%;
	margin-left: 10%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.sidebar .sidebar_exit a{
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	text-decoration:none;
}

.sidebar .sidebar_exit:hover{
	text-shadow: 0px 5px 5px rgba(900,900,900,0.6);
}

.kotak_datadiri{
	
	position: absolute;
	width: 960px;
	height: 872px;
	margin-left: 10px;
	

	background: #FFFFFF;
	-moz-box-sizing: border-box;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	border-radius: 5px;
	
}

 .kotak_datadiri li{
	 
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	display: block;
  	padding: 0.9rem 0rem;

	color: #3F3D56;

 }

.kotak_datadiri .form{
	width: 880px;
	height: 56px;
	background: rgba(108, 99, 255, 0.05);
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	border-radius: 5px;
}

.kotak_ubahprofil{
	position:absolute;
	width: 960px;
	height: 750px;
	margin-left: 10%;

	
	
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	border-radius: 5px;
}

.kotak_ubahprofil h1{
	position: absolute;
	width: 93px;
	height: 28px;
	margin-top: 5%;
	margin-left: 45%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;

	color: #3F3D56;
}

.kotak_ubahprofil li{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	display: block;
	padding: 0.9rem 0rem;
	  
	color: #3F3D56;
}

.kotak_ubahprofil .form{
	width: 880px;
	height: 40px;
	background: rgba(108, 99, 255, 0.05);
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	border-radius: 5px;
}

.Button_update{
	
	width: 103px;
	height: 40px;
	margin-left: 10%;
	margin-top: 75%;

	background-color: #6C63FF;
	color:#FFFFFF;
	border-radius: 5px;
	font-size:22px;
}

.sidebar .sidebar_menu_keamanan{
	position: absolute;
	width: 359px;
	height: 40px;
	left: 0px;
	margin-top: 148%;

	background: #3F3D56;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.sidebar .sidebar_menu_keamanan h3{
	position: absolute;
	width: 200px;
	height: 28px;
	left: 35px;
	margin-top: 1%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.sidebar #h2{
	position: absolute;
	width: 250px;
	height: 28px;
	margin-left: 0%;
	margin-top: -18%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.kotakjudul{
	
	width: 1200px;
	height: 88px;
	margin-left: -4%;

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
	z-index: 1;
}	

 .kotakjudul #img{

	width: 270px;
	height: 88px;
	margin-left: 0%;
	margin-top: -6.3%;
	
}

.kotakjudul #img2{
	
	width: 270px;
	height: 88px;
	margin-top: -7.3%;
	margin-left: 77.5%;
	
	
}

.kotakjudul h1{
	
	width: 523px;
	height: 88px;
	margin-left: 30%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotakdataprofil{
	
	width: 1200px;
	height: 360px;
	margin-left: -4%;
	

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
}

.kotakdataprofil li{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0.9rem 1.3rem;
	color: #000000;
}
.kotakdataprofil h1{
	
	width: 324px;
	height: 40px;
	margin-left: 40%;
	margin-top: 1%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotakdataprofil #line{
	
	width: 1100px;
	height: 0px;
	margin-top: 0%;
	margin-left: 5%;

	border: 1px solid #6C63FF;
}


.kotakdataupload{
	
	width: 1200px;
	height: 235px;
	margin-left: -4%;
	margin-top: 2%;
	

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
}

.kotakdataupload h1{
	
	width: 324px;
	height: 40px;
	margin-left: 40%;
	margin-top: 1%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.kotakdataupload #line{
	
	width: 1100px;
	height: 0px;
	margin-top: 0%;
	margin-left: 5%;

	border: 1px solid #6C63FF;
}

.kotakdataupload li{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	padding:  2rem 1.3rem;
	white-space: pre;

	color: #000000;
}

.kotak_berkaskeluar{
	position: absolute;
	width: 1200px;
	height: 56px;
	margin-top: 10%;
	margin-left: -1%;

	background: #FFFFFF;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(108, 99, 255, 0.15);
	border-radius: 5px;
}

.kotak_berkaskeluar h1{
	position: absolute;
	width: 248px;
	height: 56px;
	margin-left: 40%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #6C63FF;
}

